embalint_aplikacija_2/embalint_aplikacija_2_web/web/WEB-INF/wsdl/GeoMeteoWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://serveri.ws.embalint.nwtis.foi.org/" name="GeoMeteoWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://serveri.ws.embalint.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://serveri.ws.embalint.nwtis.foi.org/" schemaLocation="GeoMeteoWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="trenutniMeteoZaAdresu">
    <part name="parameters" element="tns:trenutniMeteoZaAdresu"/>
  </message>
  <message name="trenutniMeteoZaAdresuResponse">
    <part name="parameters" element="tns:trenutniMeteoZaAdresuResponse"/>
  </message>
  <message name="listaAdresa">
    <part name="parameters" element="tns:listaAdresa"/>
  </message>
  <message name="listaAdresaResponse">
    <part name="parameters" element="tns:listaAdresaResponse"/>
  </message>
  <message name="ZaNekiInterval">
    <part name="parameters" element="tns:ZaNekiInterval"/>
  </message>
  <message name="ZaNekiIntervalResponse">
    <part name="parameters" element="tns:ZaNekiIntervalResponse"/>
  </message>
  <message name="NMedteoZaAdresu">
    <part name="parameters" element="tns:NMedteoZaAdresu"/>
  </message>
  <message name="NMedteoZaAdresuResponse">
    <part name="parameters" element="tns:NMedteoZaAdresuResponse"/>
  </message>
  <message name="rangLista">
    <part name="parameters" element="tns:rangLista"/>
  </message>
  <message name="rangListaResponse">
    <part name="parameters" element="tns:rangListaResponse"/>
  </message>
  <portType name="GeoMeteoWS">
    <operation name="trenutniMeteoZaAdresu">
      <input wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/trenutniMeteoZaAdresuRequest" message="tns:trenutniMeteoZaAdresu"/>
      <output wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/trenutniMeteoZaAdresuResponse" message="tns:trenutniMeteoZaAdresuResponse"/>
    </operation>
    <operation name="listaAdresa">
      <input wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/listaAdresaRequest" message="tns:listaAdresa"/>
      <output wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/listaAdresaResponse" message="tns:listaAdresaResponse"/>
    </operation>
    <operation name="ZaNekiInterval">
      <input wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/ZaNekiIntervalRequest" message="tns:ZaNekiInterval"/>
      <output wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/ZaNekiIntervalResponse" message="tns:ZaNekiIntervalResponse"/>
    </operation>
    <operation name="NMedteoZaAdresu">
      <input wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/NMedteoZaAdresuRequest" message="tns:NMedteoZaAdresu"/>
      <output wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/NMedteoZaAdresuResponse" message="tns:NMedteoZaAdresuResponse"/>
    </operation>
    <operation name="rangLista">
      <input wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/rangListaRequest" message="tns:rangLista"/>
      <output wsam:Action="http://serveri.ws.embalint.nwtis.foi.org/GeoMeteoWS/rangListaResponse" message="tns:rangListaResponse"/>
    </operation>
  </portType>
  <binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="trenutniMeteoZaAdresu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listaAdresa">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ZaNekiInterval">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NMedteoZaAdresu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="rangLista">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GeoMeteoWS">
    <port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

